Content-Length added to HTTP 304 and 204 responses not compliant with RFC7230

[RFC7230 section 3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2) says:
> A server MAY send a Content-Length header field in a 304 (Not Modified) response to a conditional GET request (Section 4.1 of [RFC7232]); a server MUST NOT send Content-Length in such a response unless its field-value equals the decimal number of octets that would have been sent in the payload body of a 200 (OK) response to the same request.

ie: HTTP 304 responses (which must not contain a body) can either set a `Content-Length` of what the body *would* have been, or must not set it at all. 

Currently if an app:
* asks cowboyku to respond with a 304
* doesn't pass an explicit Content-Length (which is allowed - and in fact [RFC7232 section 4.1](https://tools.ietf.org/html/rfc7232#section-4.1) suggests that it's best to omit the header entirely to reduce transfer size)
* and (correctly) doesn't pass a body to cowboyku (since HTTP 304s shouldn't have a body)

...then cowboyku adds `Content-Length: 0` to the response, which is in violation of the spec.

In this case cowboyku has no way of knowing what the original body size was (since the app truncated it already and didn't calculate/set a Content-Length before doing so), so cowboyku should not be adding a Content-Length itself.

Note: In the case of vegur+cowboyku, even if the app being proxied didn't truncate the body, then vegur truncates it before relaying to cowboyku, so this bug is hit regardless.

**STR:**
1) Install erlang 18.3
2) Clone this repo and checkout revision 60de3bc
3) `cd examples/hello_world/`
4) Fix the hello_world example (since the instructions using `make` are broken after the fork):
    - `sed -i 's/cowboy/cowboyku/g' src/*`
    - `echo '{deps, [{cowboyku, "", {git, "https://github.com/heroku/cowboyku.git", {tag, "1.0.3"}}}]}.' > rebar.config`
    - `curl -LO https://s3.amazonaws.com/rebar3/rebar3`
5) Modify `toppage_handler.erl` to match this:
```erlang
-module(toppage_handler).

-export([init/3]).
-export([handle/2]).
-export([terminate/3]).

init(_Type, Req, []) ->
    {ok, Req, undefined}.

handle(Req, State) ->
    {ok, Req2} = cowboyku_req:reply(304, Req),
    {ok, Req2, State}.

terminate(_Reason, _Req, _State) ->
    ok.
```
6) `./rebar3 shell --apps hello_world`
7) In another terminal, `curl -i localhost:8080`

**Expected:**
```
HTTP/1.1 304 Not Modified
Connection: keep-alive
Server: Cowboy
Date: Thu, 13 Apr 2017 15:10:31 GMT
```

**Actual:**
```
HTTP/1.1 304 Not Modified
Connection: keep-alive
Server: Cowboy
Date: Thu, 13 Apr 2017 15:10:31 GMT
Content-Length: 0
```

Similarly for HTTP 204s, cowboyku adds a `Content-Type: 0` when [RFC7230 section 3.3.2](https://tools.ietf.org/html/rfc7230#section-3.3.2) says one should never be set at all:

> A server MUST NOT send a Content-Length header field in any response with a status code of 1xx (Informational) or 204 (No Content).  A server MUST NOT send a Content-Length header field in any 2xx (Successful) response to a CONNECT request (Section 4.3.6 of [RFC7231]).

(Same STR as the HTTP 304 case, just `s/304/204/` in `toppage_handler.erl`.)

Both the HTTP 304 and 204 issues affects upstream cowboy, for which I've also filed:
https://github.com/ninenines/cowboy/issues/1153

Example of Heroku app affected by this (uses gunicorn+Django+WhiteNoise)

```
$ curl -i https://treeherder.mozilla.org/ -H "If-Modified-Since: 1 Jan 2099 00:00:00 GMT"
HTTP/1.1 304 Not Modified
Content-Length: 0
Connection: keep-alive
Server: gunicorn/19.6.0
Date: Thu, 13 Apr 2017 15:41:10 GMT
...
Via: 1.1 vegur
```

This has been fixed upstream for the HTTP 204 case in https://github.com/ninenines/cowboy/commit/b0519af42a4d3ee7e345967206bd1d0050e9061b (see ninenines/cowboy#1153).

And fixed upstream for the HTTP 304 case in:
https://github.com/ninenines/cowboy/commit/292039362a6125dfd0a163d5b0a49b800bf80b11